.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #49c1c5;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
}
.circle:hover{
    background-color: lightblue;
}
